@{
    ViewData["Title"] = "About Zenith Society";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>The leader of the group, Mr. John Doe is an experience events organizer. He founded Zenith Society in 2014 to provide different activities to the local community.</p>
