@{
    ViewData["Title"] = "GET IN TOUCH";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    ADDRESS: Suite 770, 987 King George Avenue<br />
    Vancouver, BC, V7B 8S9 Canada<br />
    TEL: 604.888.9900 | FAX: 604.888.9901<br />
</address>

<address>
    <strong>Office:</strong>   <a href="mailto:Administration@zenithsociey.org">Administration@zenithsociey.org</a><br />
    <strong>Support:</strong>   <a href="mailto:Support@zenithsociey.org">Support@zenithsociey.org</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@zenithsociey.org">Marketing@zenithsociey.org</a>
</address>
