@model IEnumerable<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole>
@{
    ViewBag.Title = "Manage Application Roles";

    int i = 0;
    var lstModel = Model.ToList();
}

<h2>Manage Application Roles</h2>

<p>
    <a asp-action="Create">Create Role</a>  |   <a asp-area="" asp-controller="Account" asp-action="RegisterRole">Assign a Role to User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Role Name
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (i = 0; i < lstModel.Count; i++)
        {
            <tr>
                <td>
                    @lstModel[i].NormalizedName
                </td>
                <td>
                    @if (lstModel[i].NormalizedName != "Admin" && lstModel[i].NormalizedName != "Member")
                    {
                        <a asp-action="Delete" asp-route-id="@lstModel[i].Id">Delete</a>
                    }                    
                </td>
            </tr>
        }
    </tbody>
</table>

       